#sevrices_content{
	font-family: 'Bubblegum Sans', cursive;
  padding-top: 50px;
  .banner img{
  	width: 100%;
  }
 
}
#admission{
		font-family: 'Bubblegum Sans', cursive;
		 .admission_form{
  	background-color:  #F0F3F3;
  }
  input{
  	float: left;
  	margin-left: 34px;
  	margin-top: 30px; 
 
  }
  textarea{
  	margin-top: 20px;
  }
}